body { width: 80ex; margin: 0 auto 3em; }
details { margin: 1em 0; }
summary > h2 { display: inline; }
form.inline { display: inline; }
.badge { background: #ddd; padding: 1px .5em; border-radius: .5em; margin-left: .25ch; font-family: monospace; color: #444; }
header { border-bottom: 1px solid #ddd; margin: 0 0 1em; }
header ul {
    display: flex; flex-direction: row; justify-content: space-between;
    list-style: none; padding: 0;
}
header > * {
    margin: 1ex 0;
}
table.status { width: 100%; }
table.status td.left { width: 3em; }
table.status td.right { width: 3em; text-align: right; }
